
/** responsive header height
header {
  height: 74px;
}

@media (min-width: 768px) {
  header {
    height: 76px;
  }
}

@media (min-width: 1024px) {
  header {
    height: 80px;
  }
} 
  **/

.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.blog-card img {
  width: 100%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
